body {
  background-color: peachpuff;
}
.wrapper {
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.box input {
  width: 30%;
}
.box label {
  margin-left: 20px;
}
.box button {
  width: 30%;
  height: 40px;
  margin-top: 25px;
  background-color: darkblue;
  color: white;
}
.input {
  border: 2px solid black;
}
/* .output {
  border-bottom: 2px solid black;
  margin-bottom: -20px;
  width: 100%;
  text-align: start;
} */
